embeddings/embeddings_sgns_300d.npy filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_cbow_300d.npy filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings.npy filter=lfs diff=lfs merge=lfs -text
